// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 50% 0;
  height: 50vh;
  h1{
    text-align: center;
    margin: 0 auto;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
}

.custom-card-bg{
  background-size: cover;
  background-position: center;
  width: 28rem;
  height:20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list-button-end{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1rem;
}

#list-button-center{
  width: auto;
  height: 50%;
  position: absolute;
  top: 42%;
}
